*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
}
.bottomborder {
    transition: 0.1s 0.1s;
}
.bottomborder:hover {
    border-bottom: 2px solid white;
    transform: translateY(-2px);
}

.projectHover:hover{
    opacity: 0.7;
    background-image: black;
}

.displayed {
    display: inherit;
}

.list:hover {
    background: hsl(185, 100%, 45%);
}
.to-do-list {
    overflow-y: scroll;
}
.bx-trash:hover {
    color: red;
    cursor: pointer;
}
.bx-up-arrow-alt:hover {
    color: hsl(133, 100%, 60%);
    cursor: pointer;
}
.bx-down-arrow-alt:hover {
    color: hsl(5, 100%, 60%);
    cursor: pointer;
}
.to-do-name:hover {
    color: white;
}
.bx-trash,.bx-up-arrow-alt,.bx-down-arrow-alt {
    font-size: 20px;
}
.bxs-message-square-edit:hover{
    color: hsl(270, 26%, 70%);
    cursor: pointer;
}